In [1]:
import pandas as pd

In [2]:
import MyMachineLearningLib as ML
import MyDataUitlsLib as UL

In [3]:
FilePath='D:\My drive\Course\Data Science\Projects\Graduation Projects\DataAnalysis_DEPI_GraduationProject\old_GraduationProject\Dataset and code\DataSet\CleanedDataSet\cleaned_dataset.csv'
df=UL.load_data(FilePath)

In [4]:
df.columns

Index(['creditscore', 'geography', 'gender', 'age   ', 'tenure_ mo', 'balance',
       'numofproducts', 'hascrcard', 'isactivemember', 'estimatedsalary121',
       'exited'],
      dtype='object')

In [4]:
# Create a dictionary with column descriptions
column_descriptions = {
    "RowNumber" : "A unique identifer for each record.",
    "Customer ID": "A unique identifier for each customer.",
    "Surname": "The customer's surname or last name.",
    "Credit Score": "A numerical value representing the customer's credit score.",
    "Geography": "The country where the customer resides (France, Spain, or Germany).",
    "Gender": "The customer's gender (Male or Female).",
    "Age": "The customer's age.",
    "Tenure": "The number of years the customer has been with the bank.",
    "Balance": "The customer's account balance.",
    "NumOfProducts": "The number of bank products the customer uses (e.g., savings account, credit card).",
    "HasCrCard": "Whether the customer has a credit card (1 = yes, 0 = no).",
    "IsActiveMember": "Whether the customer is an active member (1 = yes, 0 = no).",
    "EstimatedSalary": "The estimated salary of the customer.",
    "Exited": "Whether the customer has churned (1 = yes, 0 = no)."
}

# Convert dictionary to DataFrame
columns_info = pd.DataFrame(column_descriptions.items(), columns=["Column Name", "Description"])

# Apply styling: Left-align text and ensure column headers are fully visible
styled_table = columns_info.style.set_properties(**{'text-align': 'left'}).set_table_styles(
    [{'selector': 'th', 'props': [('text-align', 'left')]}]
)

# Display the styled table
display(styled_table)

In [5]:
UL.DataFrameStatistics(df).statistics()

=============================================================================
Missing Data Percentage:
creditscore           0.0
geography             0.0
gender                0.0
age                   0.0
tenure_ mo            0.0
balance               0.0
numofproducts         0.0
hascrcard             0.0
isactivemember        0.0
estimatedsalary121    0.0
exited                0.0
dtype: float64
=============================================================================

Duplicate Row Count:
0
=============================================================================

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9881 entries, 0 to 9880
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   creditscore         9881 non-null   int64
 1   geography           9881 non-null   object
 2   gender              9881 non-null   object
 3   age                 9881 non-null   float64
 4   tenure_ mo          9881 non-null   int64
 5   balance             9881 non-null   float64
 6   numofproducts       9881 non-null   int64
 7   hascrcard           9881 non-null   int64
 8   isactivemember      9881 non-null   int64
 9   estimatedsalary121  9881 non-null   float64
 10  exited              9881 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 849.3+ KB
None
=============================================================================

Shape of DataFrame:
(9881, 11)
=============================================================================

Unique Values Count (sorted):
gender                   2
hascrcard                2
exited                   2
isactivemember           2
geography                3
numofproducts            4
tenure_ mo              11
age                     73
creditscore            460
balance               6314
estimatedsalary121    9880
dtype: int64
=============================================================================

Descriptive Statistics (for numerical columns):
       creditscore       age      tenure_ mo        balance  numofproducts  \
count  9881.000000  9881.000000  9881.000000    9881.000000    9881.000000
mean    650.417974    38.914283     5.010626   76599.007491       1.530108
std      96.639869    10.490585     2.892190   62393.461429       0.582582
min     350.000000    18.000000     0.000000       0.000000       1.000000
25%     584.000000    32.000000     3.000000       0.000000       1.000000
50%     652.000000    37.000000     5.000000   97286.160000       1.000000
75%     717.000000    44.000000     7.000000  127738.750000       2.000000
max     850.000000    92.000000    10.000000  250898.090000       4.000000

         hascrcard  isactivemember  estimatedsalary121       exited
count  9881.000000     9881.000000         9881.000000  9881.000000
mean      0.705394        0.515130       101259.544502     0.204028
std       0.455888        0.499796        56839.634430     0.403010
min       0.000000        0.000000         2101.890000     0.000000
25%       0.000000        0.000000        52795.150000     0.000000
50%       1.000000        1.000000       101168.900000     0.000000
75%       1.000000        1.000000       149697.780000     0.000000
max       1.000000        1.000000       199992.480000     1.000000
=============================================================================

In [6]:
df.columns

Index(['creditscore', 'geography', 'gender', 'age   ', 'tenure_ mo', 'balance',
       'numofproducts', 'hascrcard', 'isactivemember', 'estimatedsalary121',
       'exited'],
      dtype='object')